{% extends 'base.html' %}
{% load static %}

{% comment %}ajuste de links de componentes especificos de la aplicacion director{% endcomment %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'estudiante/css/stylePrincipla.css' %}" />
  <link rel="stylesheet" href="{% static 'director/css/slt_director.css' %}" />
{% endblock %}

{% block principal_director %}
  {% include 'components/header.html' %}
  {% include 'director/components/nav_modulos.html' %}
  <style>
    html,
    body {
      height: 100%;
    }
    
    /* estilos de la vista principal de director */
    
    .cards {
      /*distancia entre componentes dentro del Grid*/
      grid-gap: 20px;
      /*Alineacion de componentes del grid*/
    }
    
    .cards img {
      border-radius: 50%;
      max-height: 250px;
      max-width: 250px;
      min-height: 250px;
      min-width: 250px;
      padding: 12px;
    
      /*                    esta configuracion es para recortar la imagen sin que pierda sus proporciones iniciales*/
      object-fit: cover;
    }
    
    .imagen-fondo {
      opacity: 0.5;
      z-index: 0;
    }
    
    .card,
    ul,
    li,
    .list-group-item {
      background: rgba(255, 255, 255, 0.7) !important;
      z-index: 100;
    }
    
    .principal {
      display: flex;
    }
    .panel_config,
    form {
      z-index: 0;
    }
    .views {
      z-index: 100;
    }
  </style>

  <div class="position-relative container justify-content-center align-items-center w-100">
    <div id="panel_config" class="position-absolute container-fluid m-0 p-0" style="z-index: 0;opacity: 0; ">
      {% include 'components/config_user.html' %}
    </div>
    <div class="principal_director">
      {% include 'components/view_drcr.html' %}
    </div>
    <div class="views container mt-4">
      {% comment %}###################################################################{% endcomment %}

      {% block proyectos %}

      {% endblock %}
      {% block proyecto %}

      {% endblock %}
      {% comment %}###################################################################{% endcomment %}
      {% block anteproyectos %}

      {% endblock %}

      {% comment %}###################################################################{% endcomment %}
      {% block evaluacion_proyectos %}

      {% endblock %}

      {% block evaluador_proyectos %}
        {% block evaluador_jurado %}

        {% endblock %}
      {% endblock %}
      {% comment %}###################################################################{% endcomment %}
      {% block view_documentos_correspondencia %}

      {% endblock %}
    </div>
  </div>

  <script>
    console.log('manipulacion del config funcionando')
    
    const config = document.getElementById('config')
    const configcard = document.getElementById('configcard')
    const panelconf = document.getElementById('panel_config')
    const btncerrar = document.getElementById('cerrar')
    
    console.log(btncerrar)
    config.onclick = () => {
      // console.log('funcionando');
      panelconf.style.transition = 'all 0.5s'
      panelconf.style.opacity = '1'
      panelconf.style.zIndex = '2000'
    }
    console.log(configcard)
    configcard.onclick = () => {
      // console.log('funcionando');
      panelconf.style.transition = 'all 0.5s'
      panelconf.style.opacity = '1'
      panelconf.style.zIndex = '2000'
    }
    btncerrar.onclick = () => {
      console.log('funcionando btncerrar ')
      panelconf.style.transition = 'all 0.5s'
      panelconf.style.opacity = '0'
      panelconf.style.zIndex = '0'
    }
  </script>
{% endblock %}
