{% extends 'login.html' %}

{% block recuperar_cuenta %}
  <style>
    .content_login {
      display: none;
    }
    
    .recuperar_cuenta {
      z-index: 100;
      top: 200px;
      width: 100%;
    }
    .contentLogin {
      padding: 20px;
    }
    .titulo_recuperar {
      padding: 0 40px;
      border-bottom: 2px solid;
    }
    
    .contenedoresInput {
      color: #fff;
    }
    .contenedoresInput input {
      background-color: #fff;
    }
  </style>

  <div id="col_datos" class="w-100">
    <section id="sectionLogin" class="login rounded overflow-hidden justify-content-center flex-row w-100 h-100" style="display: flex; background:#2a2a2a;">
      {% if messages %}
        {% include 'components/toasts.html' %}
      {% endif %}
      <div class="d-flex w-100 h-100 justify-content-around align-items-center">
        <div id="camposDoLogin" class="camposLogin col justify-content-end w-100 h-100 d-flex flex-column">
          <div class="contentLogin d-flex w-100 flex-column justify-content-center align-items-center">
            <h1 class="titulo_recuperar pb-3 text-center">Restablecer tu Contraseña</h1>
            <form class="d-flex pb-5 flex-column w-75 mb-3" method="post">
              {% csrf_token %}
              <div class="contenedoresInput mb-3">
                <label for="nueva_contrasena">Nueva Contraseña:</label>
                <input type="password" id="nueva_contrasena" name="nueva_contrasena" class="ccustom-input w-100 p-1 rounded-3 border-0" placeholder="Ingresa tu nueva contraseña" required />
              </div>
              <div class="contenedoresInput mb-3">
                <label for="confirmar_contrasena">Confirmar Nueva Contraseña:</label>
                <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" class="ccustom-input w-100 p-1 rounded-3 border-0" placeholder="Confirma tu nueva contraseña" required />
              </div>
              <input type="hidden" name="token" value="{{ token }}" />
              <button type="submit" class="buttonIngresar mt-4 border-0 w-100 p-2 text-center fw-bold" style="border-radius: 8px !important;">Restablecer Contraseña</button>
            </form>

            <p class="m-0 mt-3 text-center">
              <a href="{% url 'login:loginapps' %}" class="text-white btn btn-outline-success" style="text-decoration: none;">Volver a la página de inicio de sesión</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
