{% load static %}

<!-- componente de vualizaciones de los proyectos -->
<div class="card p-0 m-0" style="width: 18rem;">
  <div class="d-flex h-100 justify-content-around flex-column p-3 m-0 text-center">
    <div class="informacion">
      <h5 class="card-title">Proyectos</h5>
      <p class="card-text">Accede a las diferentes informaciones respecto a los proyectos de gestión de conocimiento.</p>
    </div>
    <div class="d-flex flex-column p-0 m-0">
      <a href="">Proyectos en curso</a>
      <a href="">Proyectos finalizados</a>
      <a href="">Lista general de Proyectos</a>
    </div>
  </div>
</div>
