{% load static %}
<style>
  .panel-config {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    padding: 20px;
    color: #fff;
    background: var(--colores_institucionalesfondoDegradado1);
    overflow: hidden;
  }
  
  .panel-config img {
    opacity: 0.6;
    z-index: 1000;
    max-height: 100px;
    max-width: 100px;
    min-height: 100px;
    min-width: 100px;
  }
  .panel-config h3,
  p {
    z-index: 1001;
  }
  
  .contenido-form {
    box-shadow: inset 0px 0px 2px 0px #d0d0d0;
    padding: 12px;
  }
  
  .contenido-form img {
    object-fit: cover;
    border-radius: 50%;
    max-height: 150px;
    max-width: 150px;
    min-height: 150px;
    min-width: 150px;
    padding: 0;
    box-shadow: -1px 9px 12px #d5d5d5;
  }
  
  .campos {
    margin: 0 20px;
  }
  
  .contenido-form button {
    padding: 4px 12px;
    border-radius: 4px;
    border: none;
  }
  .contenido-form .btn_cerrar {
    background: #ff2626;
    color: #fff;
  }
  .contenido-form .btn_actualizar {
    background: #30a315;
    color: #fff;
  }
  
  input {
    border: none;
  }
  
  .contenedor {
    padding: 12px 0;
    box-shadow: inset 0px 0px 20px -12px #d6d6d6;
    margin: 16px 0;
    border: 1px solid #cacaca;
  }
  .campos_top {
    border-top: 1px solid #cacaca;
  }
</style>
<div class="panel-config" style="display: flex; flex-direction: column;">
  <img src="{% static 'icons/icons_nav/logoUDEC.png' %}" alt="LogoUDEC" class="logo-config position-absolute" />

  <h3 class="m-0 p-0">Bienvenido {{ form_config.instance.nombres }}</h3>
  <p class="m-0 p-0">Configura tus datos</p>
</div>
<div class="d-flex flex-column justify-content-center align-items-center contenido-form">
  <form class="d-flex flex-column justify-content-center align-items-center" action="{% url 'login:editar_usuario' %}" method="post" enctype="multipart/form-data">
    <div class="d-flex">
      {% csrf_token %}
      {% if user_img %}
        <img src="data:image/jpeg;base64,{{ user_img }}" alt="Imagen de usuario" class="mt-3 mb-0" />
      {% else %}
        <img src="{% static 'icons/usuario.png' %}" alt="Imagen de usuario" class="mt-3 mb-0" />
      {% endif %}

      <div class="m-2 d-flex justify-content-center flex-column">
        <div class="m-2 d-flex justify-content-center flex-column m-3">
          <label class="text-start" for=""><b>Agrega o cambia tu imagen</b></label>
          {{ form_config.imagen_file }}
        </div>
      </div>
    </div>
    <div class="contenedor">
      <div class="campos p-2">
        <p class="text-center m-0 p-0">
          Ajusta tus <b>nombres</b> y el <b>correo</b>.
        </p>
        <div class="d-flex flex-column mb-3 flex-md-row">
          <div class="m-2 col">
            <label for=""><b>Nombres actuales</b></label>
            {{ form_config.nombres }}
          </div>
          <div class="m-2 col">
            <label for=""><b>Apellidos actuales</b></label>
            {{ form_config.apellidos }}
          </div>
          <div class="m-2 col">
            <label for=""><b>Correo actual</b></label>
            {{ form_config.email }}
          </div>
        </div>
      </div>

      <div class="campos campos_top p-3">
        <!-- Campo para contraseña actual -->
        <p class="text-center m-0 p-0">
          Cambia tu <b>contraseña</b>, recuerda que esta no debe tener menos de <b>8 caracteres</b> conteniendo <b>mayúsculas</b>, <b>minúsculas</b>, <b>números</b> y <b>caracteres especiales</b>.
        </p>
        <div class="d-flex flex-column mb-3 flex-md-row">
          <div class="m-2 col">
            <label for=""><b>Contraseña actual</b></label>
            {{ form_config.current_password }}
          </div>

          <!-- Campos para cambiar la contraseña -->
          <div class="m-2 col">
            <label for=""><b>Nueva contraseña</b></label>
            {{ form_config.password1 }}
          </div>
          <div class="m-2 col">
            <label for=""><b>Confirma la nueva contraseña</b></label>
            {{ form_config.password2 }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <button class="btn_cerrar" id="cerrar" type="button">Cerrar</button>
      <button class="btn_actualizar" type="submit">Actualizar datos</button>
    </div>
  </form>
</div>
<script src="{% static 'js/Manipulacion_config.js' %}"></script>
