{% load static %}
<section class="container position-relative cards d-flex justify-content-center align-items-center flex-column flex-md-row mt-5">
  {% include 'components/cardinf_user.html' %}
  <div class="card d-flex justify-content-center align-items-center" style="width: 30rem;">
    <div class="card-body d-flex justify-content-center align-items-center">
      <div class="col text-center">
        <p class="m-0 p-0">Proyecto actual</p>
        <h5 class="card-title">{{ nombre_anteproyecto }}</h5>
      </div>

      {% comment %}datos de la retroalimentacion{% endcomment %}
      <div class="col">
        {% if retroalimentacion %}
          {% for key, value in retroalimentacion.items %}
            {% if forloop.first %}
              <p class="p-0 m-0">
                <b>Anteproyecto:</b>
                {% if anteproyecto %}
                  {% if anteproyecto.estado %}
                    Aprobado.
                  {% else %}
                    Aún no hay una respuesta.
                  {% endif %}
                {% else %}
                  Aún no hay una solicitud de anteproyecto.
                {% endif %}
              </p>
            {% endif %}
          {% endfor %}
        {% else %}
          <p class="p-0 m-0">
            <b>Anteproyecto:</b> No hay retroalimentaciones disponibles.
          </p>
        {% endif %}

        {% comment %}datos del proyecto final{% endcomment %}
        <p class="p-0 m-0">
          <b>Proyecto final:</b>
          {% if proyecto_final %}
            {% if proyecto_final.estado %}
              Aprobado.
            {% else %}
              Aún no hay una respuesta.
            {% endif %}
          {% else %}
            Aún no hay una solicitud de proyecto final.
          {% endif %}
        </p>
        <p class="p-0 m-0">
          fechas{% comment %} <b>Avance:</b>
          {% if proyecto_final %}
            {% if proyecto_final.avance %}
              {{ proyecto_final.avance }}%
            {% else %}
              0%
            {% endif %}
          {% else %}
            0%
          {% endif %} {% endcomment %}
        </p>
      </div>
    </div>
  </div>

  <img src="{% static 'icons/icons_nav/logoUDEC.png' %}" alt="LogoUDEC" class="position-absolute imagen-fondo" />

  {% comment %}seccion de la configuracion de cuenta{% endcomment %}

  {% comment %}recordar el manejo de mediaquerys{% endcomment %}
  <style>
    #panel_config {
      top: -20px;
      margin-bottom: 30px;
      border-radius: 8px;
      overflow: hidden;
      background: #f9f9f9;
      border: 1px solid #d0d0d0;
    }
  </style>
</section>
