{% extends 'base.html' %}

{% load static %}

{% block title %}
  Estudiante
{% endblock %}

{% block extra_head %}
  {% comment %}aqui se van a importar los estilos personalizados de la aplicacion estudiante{% endcomment %}

  <link rel="stylesheet" href="{% static 'estudiante/css/stylePrincipla.css' %}" />
{% endblock %}

{% block principal_estudiante %}
  <style>
    html,
    body {
      background: none;
    }
    
    .header {
    }
  </style>
  <div class="header">
    {% include 'components/header.html' %}
    {% include 'estudiante/components/nav_modulos.html' %}
  </div>
  <main class="container position-relative d-flex justify-content-center align-items-center">
    {% comment %}incluir el componente de usuario{% endcomment %}
    <div class="inf_user">
      {% include 'components/view_estudiante.html' %}
    </div>
    {% block solicitud %}

    {% endblock %}
    {% block informacion_proyecto %}

    {% endblock %}
    {% block linea_tiempo %}

    {% endblock %}
    {% block doc_cargados %}

    {% endblock %}
    {% comment %}seccion de la configuracion de cuenta{% endcomment %}

    {% comment %}recordar el manejo de mediaquerys{% endcomment %}
    <style>
      #panel_config {
        top: -150px;
        margin-bottom: 30px;
        border-radius: 8px;
        overflow: hidden;
        background: #f9f9f9;
        border: 1px solid #d0d0d0;
      }
    </style>
    <div id="panel_config" class="position-absolute" style="z-index: 0;opacity: 0; ">
      {% include 'components/config_user.html' %}
    </div>
  </main>
{% endblock %}
