{% extends 'base.html' %}

{% load static %}

{% block title %}
  Estudiante
{% endblock %}

{% block extra_head %}
  {% comment %}aqui se van a importar los estilos personalizados de la aplicacion estudiante{% endcomment %}

  <link rel="stylesheet" href="{% static 'estudiante/css/stylePrincipla.css' %}" />
{% endblock %}

{% block principal_estudiante %}
  <style>
    html,
    body {
      background: none;
    }
    
    .header {
    }
  </style>
  <div class="header position-relative">
    {% include 'components/header.html' %}
    {% include 'estudiante/components/nav_modulos.html' %}
    {% include 'components/toasts.html' %}
  </div>

  <style>
    .contenido_estudiante_view {
      border: 1px solid #cacaca;
      border-radius: 12px;
      box-shadow: inset 0px 0px 20px -5px #d8d8d8;
      padding: 16px;
    }
    .contenido_estudiante {
      z-index: 100;
    }
  </style>
  {% include 'components/toasts.html' %}
  <main class="container contenido_estudiante position-relative justify-content-center align-items-center">
    <div class="contenido_estudiante position-relative">
      {% block solicitud %}

      {% endblock %}
      {% comment %}incluir el componente de usuario{% endcomment %}
      <div class="inf_user">
        {% include 'components/view_estudiante.html' %}
      </div>
      {% block informacion_proyecto %}

      {% endblock %}
      {% block linea_tiempo %}

      {% endblock %}
      {% block formatos %}

      {% endblock %}
      {% block avances_proyecto %}

      {% endblock %}
    </div>
    {% comment %}seccion de la configuracion de cuenta{% endcomment %}
    <style>
      #panel_config {
        width: 100%;
        left: 0;
        top: 40px;
        margin-bottom: 30px;
        border-radius: 8px;
        overflow: hidden;
        background: #f9f9f9;
        border: 1px solid #d0d0d0;
        /*Revisar este*/
        overflow: scroll;
        z-index: 0;
      }
    </style>
    <div id="panel_config" class="position-absolute container-fluid m-0 p-0" style="z-index: 0;opacity: 0; ">
      {% include 'components/config_user.html' %}
    </div>
    {% comment %}recordar el manejo de mediaquerys{% endcomment %}
  </main>

  <script>
    console.log('manipulacion del config funcionando')
    
    const config = document.getElementById('config')
    const configcard = document.getElementById('configcard')
    const panelconf = document.getElementById('panel_config')
    const btncerrar = document.getElementById('cerrar')
    
    console.log(btncerrar)
    config.onclick = () => {
      // console.log('funcionando');
      panelconf.style.transition = 'all 0.5s'
      panelconf.style.opacity = '1'
      panelconf.style.zIndex = '2000'
    }
    console.log(configcard)
    configcard.onclick = () => {
      // console.log('funcionando');
      panelconf.style.transition = 'all 0.5s'
      panelconf.style.opacity = '1'
      panelconf.style.zIndex = '2000'
    }
    btncerrar.onclick = () => {
      console.log('funcionando btncerrar ')
      panelconf.style.transition = 'all 0.5s'
      panelconf.style.opacity = '0'
      panelconf.style.zIndex = '0'
    }
  </script>
{% endblock %}
