{% extends 'estudiante/base_estudiante.html' %}
{% load static %}

{% block informacion_proyecto %}
  <meta charset="UTF-8" />
  <style>
    .inf_user {
      display: none;
    }
    
    .container p {
      padding: 0;
      margin: 0;
    }
    
    .info_proyect {
    }
    
    .info-block {
      background-color: #f9f9f9;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 15px;
      margin-bottom: 15px;
      border-radius: 5px;
      /* Tener el texto ajustado dentro del bloque */
      word-wrap: break-word;
      position: relative;
    }
    
    .header-cards {
      border-bottom: 1px solid #cacaca;
      margin: 8px 0;
    }
    .icons-informacion {
      padding: 4px;
      margin: 4px;
      width: 50px;
      height: 50px;
    }
    
    .retroalimentaciones {
      padding: 4px;
      border-top: 1px solid #cacaca;
    }
  </style>

  {% if solicitud_enviada %}
    {% include 'components/toasts.html' %}
    <h3 class="m-3">Información del Proyecto</h3>
    <section class="row contenido_estudiante_view">
      <div class="col-md-6">
        <div class="info-block p-3 mb-3 border rounded">
          <div class="d-flex justify-content-between header-cards">
            <h4>Proyecto</h4>
            <img class="icons-informacion" src="{% static 'estudiante/icons/apps/icon_proyect.png' %}" alt="" />
          </div>
          <p>
            <strong>Nombre del proyecto:</strong> {{ nombre_anteproyecto }}
          </p>
          <p>
            <strong>Descripción del proyecto:</strong> {{ descripcion }}
          </p>
          <p>
            <strong>Fecha de envío de la solicitud:</strong> {{ fecha_envio }}
          </p>

          <p>
            {% if proyecto_final %}
              <strong>Anteproyecto:</strong> Aprobado<br />
              <strong>Proyecto final:</strong> En desarrollo<br />
            {% else %}
              <strong>Anteproyecto:</strong> Aprobado<br />
              <strong>Proyecto final:</strong> No enviado<br />
            {% endif %}
          </p>
        </div>
        <div class="info-block p-3 mb-3 border rounded">
          <div class="d-flex justify-content-between header-cards">
            <h4>Miembros</h4>
            <img class="icons-informacion" src="{% static 'estudiante/icons/apps/icon_integrantes.png' %}" alt="" />
          </div>
          <p>
            <strong>Integrantes:</strong>
            {% if integrante2 == Null %}
              {{ integrante1 }}
            {% else %}
              {{ integrante1 }} y {{ integrante2 }}
            {% endif %}
          </p>
          <p>
            <strong>Director:</strong> {{ director }}<br />
            {% if codirector %}
              <strong>Codirector:</strong> {{ codirector }}
            {% endif %}
          </p>

          <p>
            <strong>Estado de solicitud:</strong>
            {% if content_retroalimentacion.respuesta.estado == 'aprobado' or content_retroalimentacion.respuesta.estado == 'Aprobado_con_correcciones' %}
              Aprobado
            {% else %}
              En revisión
            {% endif %}
          </p>
        </div>
        <div class="info-block p-3 mb-3 border rounded">
          <div class="d-flex justify-content-between header-cards">
            <h4>Archivos del proyecto</h4>
            <img class="icons-informacion" src="{% static 'estudiante/icons/apps/icon_doc.png' %}" alt="" />
          </div>
          <p>
            <strong>Documentos cargados:</strong><br />
            <a href="data:application/octet-stream;base64,{{ carta }}" download="Carta_presentación_{{ nombre_anteproyecto }}.pdf">Carta de presentación</a><br />
            <a href="data:application/octet-stream;base64,{{ anteproyecto }}" download="Anteproyecto_{{ nombre_anteproyecto }}.pdf">Anteproyecto</a>
          </p>
        </div>
      </div>

      {% if content_retroalimentacion %}
        <div class="col-md-6">
          <div class="info-block p-3 mb-3 border rounded">
            <div class="d-flex justify-content-between header-cards">
              <h4>Respuestas</h4>
              <img class="icons-informacion" src="{% static 'estudiante/icons/apps/icon_respuesta.png' %}" alt="" />
            </div>
            {% for key, value in content_retroalimentacion.items %}
              <div class="mt-2 retroalimentaciones">
                <p>Por: {{ value.respuesta.user.nombre_completo }}</p>
                <p>
                  <strong>Fecha y hora de respuesta:</strong> {{ value.respuesta.fecha_retroalimentacion }}<br />
                </p>
                {% if value.respuesta.doc_retroalimentacion %}
                  <p>
                    <strong>Documento retroalimentado:</strong>
                    <a class="mt-2" href="data:application/octet-stream;base64,{{ value.doc_retroalimentacion }}" download="Retroalimentación_{{ value.respuesta.anteproyecto.nombre_anteproyecto }}.pdf">Retroalimentación del comité</a>
                  </p>
                {% else %}
                  <p>
                    <strong>Documento retroalimentado:</strong> No hay documento disponible.
                  </p>
                {% endif %}
                <p>
                  <strong>Retroalimentación:</strong><br />{{ value.respuesta.retroalimentacion }}
                </p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </section>
  {% else %}
    <div class="info_proyect">
      <h1 class="m-3">Aún no ha enviado una solicitud de anteproyecto al comite al comité.</h1>
      <p class="mb-0">
        Su anteproyecto se encuentra actualmente en proceso de evaluación por parte del director y codirector. Le recomendamos estar atento a las retroalimentaciones que se publicarán en el apartado de solicitudes.
        <br /><br />
      </p>
      <small>
        Acceda al modulo de solicitudes
        <a href="{% url 'estudiante:solicitud' %}">Haga clic aquí.</a>
      </small>
    </div>
  {% endif %}
{% endblock %}
