{% extends 'estudiante/base_estudiante.html' %}
{% load static %}

{% block informacion_proyecto %}
  <meta charset="UTF-8" />
  <style>
    .inf_user {
      display: none;
    }
    
    .container p {
      padding: 0;
      margin: 0;
    }
    
    .info_proyect {
      z-index: 1001;
    }
  </style>

  {% if solicitud_enviada %}
    <section class="d-flex row">
      <div class="col">
        <h3 class="m-3">Información del Proyecto</h3>
        <p>
          <strong>Nombre del proyecto:</strong> {{ nombre_proyecto }}
        </p>
        <div>
          <strong>Integrantes:</strong>

          {% if integrante2 == Null %}
            {{ integrante1 }}
          {% else %}
            {{ integrante1 }} y
            {{ integrante2 }}
          {% endif %}
        </div>
        <p>
          <strong>Director:</strong> {{ director }}
        </p>
        <p>
          <strong>Fecha de envio de la solicitud:</strong>
          {{ fecha_envio }}
        </p>
        <p>
          <strong>Estado de solicitud:</strong>
          {% if estado %}
            Aprovado
          {% else %}
            En revisión
          {% endif %}
        </p>
        <p>
          <strong>Revisiones por parte del comité:</strong> {{ rev_dadas }}
        </p>
        <br />
        <p class="content-respuesta">
          <strong>Retroalimentación:</strong><br />
          {{ retroalimentacion }}
        </p>
      </div>
      <div class="col">
        <h3 class="m-3">Documentos cargados</h3>
        <div class="documents d-flex flex-column">
          <a class="mt-2" href="data:application/octet-stream;base64,{{ carta }}" download="CartaPresentacion_{{ nombre_proyecto }}.pdf">Carta de solicitud</a>
          <a class="mt-2" href="{{ anteproyecto }}" download="Anteproyecto_{{ nombre_proyecto }}.pdf">Anteproyecto</a>

          <a class="mt-2" href="{{ doc_proyect }}" download="CartaPresentacion{{ nombre_proyecto }}.pdf">Retroalimentación del comite</a>
        </div>
      </div>
    </section>
  {% else %}
    <div class="info_proyect">
      <h1 class="m-3">Aun no has enviado una solicitud.</h1>
      <p>
        ¿Quieres enviar tu primera solicitud de anteproyecto al comité?
        <a href="{% url 'estudiante:test_solicitud' %}">Click aquí.</a>
      </p>
    </div>
  {% endif %}
{% endblock %}
