{% extends 'correspondencia/base_correspondencia.html' %}
{% load static %}
{% block proyectos_actuales %}
  <style>
    .content_correspondecia {
      display: none;
    }
    .views {
      display: flex;
    }
  </style>

  <script>
    $(document).ready(function () {
      $('#tabla_resultados').DataTable({
        aLengthMenu: [
          [3, 5, 10, 25, -1],
          [3, 5, 10, 25, 'ALL']
        ],
        iDisplayLength: 7,
        language: {
          lengthMenu: 'Mostrar _MENU_ registros por página',
          search: 'Buscar',
          zeroRecords: 'Ningún Registro Encontrado',
          info: 'Página _PAGE_ de _PAGES_',
          infoEmpty: 'Ningún Registro Disponible',
          infoFiltered: '(Filtrado de _MAX_ registro(s) totales)',
          paginate: {
            first: 'Primero',
            last: 'Último',
            next: 'Siguiente',
            previous: 'Anterior'
          }
        }
      })
    })
  </script>
{% endblock %}
