{% extends 'correspondencia/base_correspondencia.html' %}

{% block view_anteproyecto %}
  <style>
    .content_correspondecia {
      display: none;
    }
  </style>
  <section class="container row">
    {% if integrante_0 %}
      <h1>{{ integrante_0.nombre }}</h1>
      <h1>{{ integrante_1.nombre }}</h1>
      <img src="data:image/jpeg;base64,{{ integrante_0.imagen }}" alt="Imagen de usuario" />

      <img src="data:image/jpeg;base64,{{ integrante_1.imagen }}" alt="Imagen de usuario" />
    {% else %}
      <h1>{{ integrante_0.nombre }}</h1>
      <img src="data:image/jpeg;base64,{{ integrante_0.imagen }}" alt="Imagen de usuario" />

      <h1>algo paso</h1>
    {% endif %}

    <div class="card d-flex justify-content-center align-items-center" style="width: 18rem;">
      {% comment %} {% if user_img %}
        <img src="data:image/jpeg;base64,{{ user_img }}" alt="Imagen de usuario" />
      {% else %}
        <img src="{% static 'icons/usuario.png' %}" alt="Imagen de usuario" />
      {% endif %}
      {% endcomment %}
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <p class="m-0 p-0">
          <b>Bienvenido</b>
        </p>
        {% comment %} <h5 class="card-title">{{ usuario.nombres }}<data value=""></data></h5> {% endcomment %}
        <a id="configcard" style="cursor: pointer;">Edita tu usuario</a>
      </div>
    </div>
  </section>
{% endblock %}
