{% extends 'correspondencia/base_correspondencia.html' %}
{% load static %}
{% block view_anteproyecto %}
  <style>
    .content_correspondecia {
      display: none;
    }
    .info_anteproyecto {
      display: grid;
      grid-gap: 12px;
    }
  </style>
  <section class="container mt-3">
    <div class="row info_anteproyecto d-flex">
      {% comment %}tener en cuneta el acceso a las llaves e items{% endcomment %}
      <h2>Proyecto: {{ anteproyecto.nombre_anteproyecto }}</h2>
      <div class="col container-fluid">
        <h3>Miembros del anteproyecto</h3>
        {% for key, integrante in datos_integrantes.items %}
          <div class="mx-auto d-flex justify-content-center align-items-center" style="width: 18rem;">
            <div class="d-flex flex-column justify-content-center align-items-center">
              {% if integrante.imagen %}
                <img src="data:image/jpeg;base64,{{ integrante.imagen }}" alt="Imagen de usuario" />
              {% else %}
                <img src="{% static 'icons/usuario.png' %}" alt="Imagen de usuario" />
              {% endif %}
              <h4>{{ integrante.nombre }}</h4>
              <h6>{{ integrante.grupo }}</h6>
            </div>
          </div>
        {% endfor %}
      </div>

      {% comment %}apartado de retroalimentacione{% endcomment %}
      <div class="col container-fluid mt-4">
        <h3>Enviar Retroalimentación</h3>
        <form action="{% url 'correspondencia:enviar_retroalimentacion' anteproyecto.nombre_anteproyecto %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form_retroalimentacion.as_p }}
          {% comment %}buenas{% endcomment %}
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
