{% extends 'base.html' %}
{% block title %}
  Correspondencia
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/js/dataTables.min.js" />
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
{% endblock %}

{% block principal_correspondencia %}
  {% load static %}
  {% include 'components/header.html' %}
  {% include 'correspondencia/components/nav_modulos.html' %}

  <style>
    html,
    body {
      min-height: 100%;
    }
    .views {
      display: none;
    }
    .cards_correspondencia {
      display: grid;
      justify-content: center;
      align-content: center;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-auto-rows: minmax(100px, auto);
      grid-gap: 24px;
    }
    .card-content {
      position: relative;
      overflow: hidden;
    }
    .card_item {
      display: flex;
      padding: 12px;
    }
    
    .link-card {
      text-decoration: none;
      background: #ebebeb6b;
      box-shadow: inset 0px 0px 20px -20px #ededed;
      transition: all 0.4s;
    }
    
    .link-card p,
    img {
      transition: all 0.4s;
    }
    .link-card:hover {
      box-shadow: inset 0px 0px 20px -10px #3cff00;
    }
    .link-card:hover p {
      transition: all 0.2s;
      font-size: 18px;
    }
    .link-card:hover img {
      transition: all 0.5s;
      width: 60px;
      height: 60px;
    }
    .link-card a {
      text-decoration: none;
    }
    #panel_config {
      top: 10%;
    }
    
    .contenido_correspondencia {
      z-index: 1000;
    }
    .contenido_correspondencia .views {
      border: 1px solid #cacaca;
      border-radius: 12px;
      box-shadow: inset 0px 0px 20px -5px #d8d8d8;
      padding: 16px;
    }
    
    .contenido_correspondencia .fondo {
      position: fixed;
      width: 50%;
      opacity: 0.07;
      z-index: 0;
    }
    
    .card-title {
      min-height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>

  <main class="contenido_correspondencia container mt-5 d-flex position-relative justify-content-center align-items-center">
    <div class="row content_correspondecia justify-content-center position-relative">
      <!-- Card 1 -->
      <div class="card-content col-md-3 mb-4">
        <div class="d-flex card h-100 text-center">
          <div class="card-body">
            <h2 class="card-title">Solicitudes</h2>
            <p class="card-text">Conoce las solicitudes de los estudiantes</p>
          </div>
          <div class="card-footer link-card d-flex flex-column">
            <a href="{% url 'correspondencia:solicitudes' %}" class="w-100 h-100">
              <img src="{% static 'correspondencia/icons/image_documentos.png' %}" alt="icon" class="img-fluid mb-2" />
              <p class="card-text">Número de solicitudes: {{ num_solicitudes }}</p>
            </a>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="card-content col-md-3 mb-4">
        <div class="d-flex card h-100 text-center">
          <div class="card-body">
            <h2 class="card-title">Respuestas</h2>
            <p class="card-text">Conoce las respuestas a las solicitudes</p>
          </div>
          <div class="card-footer link-card d-flex flex-column">
            <a href="{% url 'correspondencia:solicitudes_respondidas' %}" class="w-100 h-100">
              <img src="{% static 'correspondencia/icons/image_respuesta.png' %}" alt="icon" class="img-fluid mb-2" />
              <p class="card-text">Número de respuestas: {{ num_respuestas }}</p>
            </a>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="card-content col-md-3 mb-4">
        <div class="d-flex card h-100 text-center">
          <div class="card-body">
            <h2 class="card-title">Proyectos</h2>
            <p class="card-text">Conoce los proyectos en curso y finalizados, así mismo asigna jurados.</p>
          </div>
          <div class="card-footer link-card d-flex flex-column">
            <a href="{% url 'correspondencia:proyectos' %}" class="w-100 h-100">
              <img src="{% static 'correspondencia/icons/image_proyecto.png' %}" alt="icon" class="img-fluid mb-2" />

              <p class="card-text">Proyectos en curso: {{ num_proyectos }}</p>
            </a>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="card-content col-md-3 mb-4">
        <div class="d-flex card h-100 text-center">
          <div class="card-body">
            <h2 class="card-title">Formatos de documentos</h2>
            <p class="card-text">Carga y revisa los formatos de documentos</p>
          </div>
          <div class="card-footer link-card d-flex flex-column">
            <a href="{% url 'correspondencia:formatos_documentos' %}" class="w-100 h-100">
              <img src="{% static 'correspondencia/icons/image_solicitud.png' %}" alt="icon" class="img-fluid mb-2" />
              <p class="card-text">Número de formatos: {{ num_formatos }}</p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="views position-relative justify-content-center align-items-center w-100">
      {% block content_solicitudes %}

      {% endblock %}
      {% comment %}plantilla de la lista de los proyectos{% endcomment %}
      {% block list_proyect %}

      {% endblock %}

      {% comment %}vista de el anteproyecto{% endcomment %}
      {% block view_anteproyecto %}

      {% endblock %}

      {% comment %}vista del proyecto{% endcomment %}
      {% block view_proyecto %}

      {% endblock %}

      {% comment %}vista para ver una solicitud especial{% endcomment %}
      {% block view_solicitud_especial %}

      {% endblock %}
      {% comment %}vista de la asignacion de jurados para el proyecto{% endcomment %}
      {% block asignacion_jurados %}

      {% endblock %}

      {% comment %}plantilla de vista de solicitudes{% endcomment %}
      {% block view_solicitudes %}

      {% endblock %}

      {% block view_retroalimentacion %}

      {% endblock %}

      {% comment %}vista de la plantilla de documentos cargados por los estudiantes{% endcomment %}
      {% block view_documentos_cargados %}

      {% endblock %}

      {% comment %}vista de la plantilla de documentos del comite{% endcomment %}
      {% block view_documentos_correspondencia %}

      {% endblock %}

      {% comment %}vista para la edicion o eliminacion de un formato{% endcomment %}
      {% block formato %}

      {% endblock %}

      {% comment %}###################################################################################################################{% endcomment %}

      {% comment %}vistas para los proyectos{% endcomment %}
      {% block proyectos %}

      {% endblock %}

      {% comment %}vista de la plantilla de proyectos finalizados{% endcomment %}
      {% block proyectos_finalizados %}

      {% endblock %}
      {% comment %}vista de la plantilla de proyectos actuales{% endcomment %}
      {% block proyectos_actuales %}

      {% endblock %}

      {% comment %}vista para la plantilla especifica del proyecto{% endcomment %}
      {% block proyecto %}

      {% endblock %}

      {% comment %}###################################################################################################################{% endcomment %}
      {% include 'components/toasts.html' %}
    </div>
  </main>
  <div id="panel_config" class="position-absolute container-fluid m-0 p-0" style="z-index: 0;opacity: 0; ">
    {% include 'components/config_user.html' %}
  </div>
  <script>
    console.log('manipulacion del config funcionando')
    
    const config = document.getElementById('config')
    
    const panelconf = document.getElementById('panel_config')
    const btncerrar = document.getElementById('cerrar')
    
    console.log(btncerrar, 'boton de cerrar')
    config.onclick = () => {
      // console.log('funcionando');
      panelconf.style.transition = 'all 0.5s'
      panelconf.style.opacity = '1'
      panelconf.style.zIndex = '2000'
    }
    
    console.log(btncerrar, 'btncerrar')
    btncerrar.onclick = () => {
      console.log('funcionando btncerrar ')
      panelconf.style.transition = 'all 0.5s'
      panelconf.style.opacity = '0'
      panelconf.style.zIndex = '0'
    }
  </script>
{% endblock %}
