{% load static %}
<header>
  <nav class="nav_sup d-flex justify-content-around align-items-center position-relative">
    <div class="cubes">
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
    </div>
    <div class="text-center">
      <h2 class="m-0 p-0">CIGAP</h2>
      <p class="p-0 m-0">Plataforma de gestión de anteproyectos y proyectos de grado</p>
    </div>

    <img src="{%static 'icons/icons_nav/logoUDEC.png'%}" alt="LogoUDEC" class=""/>
  </nav>
</header>
